h1, h2, h3, p {
    font-family:Verdana, "Geneva", Tahoma, sans-serif;
    text-indent: 5%;
}

.description h2 {
    margin-left: 10%;
}

h3 {
    margin-left: 2.5%;
}

.description p {
    margin-left: 5%;
    line-height: 2;
}

h1 {
    font-size: 40px;
    color:#ffffff;
    font-style: italic;
    text-align: center;
    margin-left: 2.5%;
    margin-bottom: -0.00075%;
}

.ingredients li {
    font-size: 1.5em;
    list-style: square;
    padding: 0.5%;
}

ol li,
.notes {
    font-size: 22px;
    padding: 0.5%;
    margin-left: 10%;
}

.notes li {
    padding: 0.5%;
}

.steps {
    padding-top: 2%;
    border-top:rgb(0, 0, 0);
    border-top-style: double;
    border-width: 5px;
}

ul {
    margin-left: 5%;
}

.nav-picture:hover {
    opacity: 0.5;
    border: 0.5em solid rgb(255, 252, 243);
}

#nav-home:link,
#nav-home:visited,
#nav-home:active {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-style: inset;
    border-radius: 15px;
    padding: 5px;
}

#nav-home:hover {
    background-color: rgb(231, 178, 113);
}

.nav-home-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.nav-receipe,
.nav-home {
    list-style: none;
    padding: 0.5% 0.5%;
}

.nav-select-recipe {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-picture {
    width: auto;
    height: 400px;
}

img {
    width: 25%;
    height: auto;
}

.img-div {
    margin-left: 5%;
    margin-top: 1%;
}

body {
    background-color: rgb(202, 174, 145);
}